---
layout: default
---

<!-- Image to hack wechat -->
<!-- <img src="/img/icon_wechat.png" width="0" height="0"> -->

<!-- Post Header -->
{% include intro-header.html type='post' %}

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <!-- Category Sidebar -->
            <div class="col-lg-1 col-lg-offset-0 visible-lg-block sidebar-container category-container">
                <div class="category-sidebar">
                    <hr class="hidden-sm hidden-xs">
                    <h5>
                        <a class="category-toggle" href="#">CATEGORY</a>
                    </h5>
                    <div class="category-nav">
                        <div class="current-category">
                            <h6>{{ page.category }}</h6>
                            <ul>
                                <li class="active">{{ page.title }}</li>
                                {% for post in site.posts %}
                                    {% if post.category == page.category and post.title != page.title %}
                                        <li>
                                            <a href="{{ post.url }}">{{ post.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Post Container -->
            <div class="col-lg-7 col-lg-offset-0 col-md-10 col-md-offset-1 post-container">
                <!-- Multi-Lingual -->
                {% if page.multilingual %}
                    {% include multilingual-sel.html %}
                {% endif %}

				{{ content }}

                <div class='header-line'>
                    <strong> ━━━━━━  ❖  ━━━━━━ </strong>
                </div>

                <hr style="visibility: hidden;">
                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
                        Previous<br>
                        <span>{{page.previous.title}}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">
                        Next<br>
                        <span>{{page.next.title}}</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <hr style="visibility: hidden;">

                {% if site.disqus_username %}
                <!-- disqus 评论框 start -->
                <div class="comment">
                    <div id="disqus_thread" class="disqus-thread"></div>
                </div>
                <!-- disqus 评论框 end -->
                {% endif %}

                {% if site.netease_comment %}
                <!-- 网易云跟帖 评论框 start -->
                <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
                <!-- 网易云跟帖 评论框 end -->
                {% endif %}
            </div>  

    <!-- Side Catalog Container -->
        {% unless page.no-catalog %}
            <div class="
                col-lg-2 col-lg-offset-1
                visible-lg-block
                sidebar-container
                catalog-container">
                <div class="side-catalog">
                    <hr class="hidden-sm hidden-xs">
                    <h5>
                        <a class="catalog-toggle" href="#">CONTENTS</a>
                    </h5>
                    <ul class="catalog-body"></ul>
                </div>
            </div>
        {% endunless %}

    <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-1
                col-md-10 col-md-offset-0
                sidebar-container bottom">

                <!-- Featured Tags -->
                {% include featured-tags.html bottom=true %}

                <!-- Friends Blog -->
                {% include friends.html %}
            </div>
        </div>
    </div>
</article>

<!-- add support for mathjax by voleking-->
{% if page.mathjax %}
  {% include mathjax_support.html %}
{% endif %}

{% if site.netease_comment %}
<!-- 网易云跟帖JS代码 start -->
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
<script>
  var cloudTieConfig = {
    url: document.location.href, 
    sourceId: "",
    productKey: "de25fc98a6fe48b3bc8a7ae765da99a0",
    target: "cloud-tie-wrapper"
  };
  var yunManualLoad = true;
  Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
</script>
<!-- 网易云跟帖JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{page.id}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}


{% if site.anchorjs %}
<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>
<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
    async("//cdnjs.cloudflare.com/ajax/libs/anchor-js/1.1.1/anchor.min.js",function(){
        anchors.options = {
          visible: 'hover',
          placement: 'right',
          // icon: '#'
        };
        anchors.add().remove('.intro-header h1').remove('.subheading').remove('.sidebar-container h5');
    })
</script>
<style>
    /* place left on bigger screen */
    @media all and (min-width: 800px) {
        .anchorjs-link{
            position: absolute;
            left: -0.75em;
            font-size: 1.1em;
            margin-top : -0.1em;
        }
    }
</style>
{% endif %}

<!-- 添加收缩功能的 JavaScript -->
<script>
    $(document).ready(function() {
        // 初始状态设置
        let categoryOpen = true;
        
        // 切换分类导航栏
        $(".category-toggle").click(function(e) {
            e.preventDefault();
            if(categoryOpen) {
                $(".category-nav").slideUp();
                $(".category-container").addClass("collapsed");
            } else {
                $(".category-nav").slideDown();
                $(".category-container").removeClass("collapsed");
            }
            categoryOpen = !categoryOpen;
        });
    });
</script>

<!-- 添加样式 -->
<style>
    .category-container {
        transition: all 0.3s ease;
        padding: 10px;
    }
    
    .category-container.collapsed {
        width: 20px;
    }
    
    .category-nav {
        padding: 0;
        margin: 0;
    }
    
    .current-category h6 {
        color: var(--accent-color);
        font-weight: bold;
        margin: 10px 0;
        font-size: 14px;
    }
    
    .current-category ul {
        list-style: none;
        padding-left: 8px;
        margin: 0;
    }
    
    .current-category li {
        font-size: 13px;
        line-height: 1.5;
        margin-bottom: 8px;
    }
    
    .current-category li.active {
        color: var(--accent-color);
        font-weight: bold;
    }
    
    .current-category a {
        color: var(--subtext0-color);
        text-decoration: none;
    }
    
    .current-category a:hover {
        color: var(--accent-color);
    }
    
    .category-toggle {
        color: #777;
        text-decoration: none;
    }
    
    .category-toggle:hover {
        color: #337ab7;
        text-decoration: none;
    }

    /* 响应式布局调整 */
    @media (max-width: 1200px) {
        .category-container {
            display: none;
        }
    }
</style>
